@model IEnumerable<Note>

@{
    ViewData["Title"] = "Note List";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    @foreach (Note note in Model.Reverse()){
        <a asp-action="NoteDetail" name="listSubject">@note.Subject</a>
    }
}

<div>
    <a asp-action="NoteEditor">New Note</a>
</div>

