@model Note

@{
    ViewData["Title"] = "Create Your Note";
    var label1 = "Subject:";
    var label2 = "Content:";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="EditNote" method="post">
    <div>
        <label asp-for="Subject">@label1</label>
        <input asp-for="Subject" />
    </div>

    <div>
        <label asp-for="Content">@label2</label>
        <textarea asp-for="Content" id="TextArea"></textarea>
    </div>

    <input type="submit" value="Save Note">
</form>